.details{
    text-align: justify;
    padding: 20px;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    .canDoContent{
        display: flex;
    }
}

.home{
    margin-top: 30px;
        .profile-image{
            height: 263px;
            margin: 0 auto;
            display: block;
            border-radius: 10px;
        }
        h5{
            text-align: center;
            padding-top: 20px;
        }
}

.progress-heading{
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.progress-content{
    display: flex;
    justify-content: center; 
    width: 100%;
    margin-top: 10px;
    span{
        width: 145px;
    }
}

.progress{
    max-width: 400px;
    width: 100%;
    margin-top: 5px;
    margin-left: 20px;
    display: flex;
    .progress-bar-outer{
        padding-left: 0;
        .progress-bar{
            width: 85%;
        }
        .css{
            width: 80%;
        }
        .js{
            width: 75%;            
        }
        .bs{
            width: 85%;
        }
        .react{
            width: 70%;
        }
        .react-bs{
            width: 70%;
        }
        .sass{
            width: 90%;
        }
    }
}

footer{
    padding: 20px;  
    background: #000;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
    .container{
        .social-icons{
            display: flex;
            padding-top: 20px;
            justify-content: space-around;
            li{
                list-style: none;
                font-size: 30px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px){
    .details{
        text-align: justify;
        padding: 20px;
        background: rgba(0, 0, 0, 0.11);
        .canDoContent{
            display: flex;
            text-align: left;
        }
        .headings{
            text-align: center;
        }
    }
    .progress{
        // margin-right: 3px;
        width: 160px;
    }
    .progress-content{
        span{
            margin-left: -15px;
        }
    }
}